.content {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway';
}

.main {
  display:flex;
  flex-direction: column;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.title {
  font-size: 24px;
  line-height: 30px;
  display: none;
}

.title-hidden {
  display: none;
}

.nav {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  width: 100%;
  text-align: left;
  /* visibility: hidden; */
}

.app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph {
  margin: 30px 0;
}

.select {
  color: darkgray;
  border: none;
  font: inherit;
  outline: none;
  margin-left: 4px;
  padding: 0;
}

.data-options {
  margin-left: 4px;
  z-index: 1;
  min-width: 50px;
  position: absolute;
  background: none;
  display: none;
}

.data-options a {
  color: darkgray;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin: 4px 0;

}

.data-options a:hover {
  color:black;
  text-decoration: none;
}

.data-selector:hover .data-options {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.select:hover {
  cursor: pointer;
  color: #000000;
}